<div class="row">

    <div class="d-flex flex-column  p-3 text-bg-dark col-2 " style="min-height: 510px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/admin" class="nav-link text-white ">
                    {{!-- <svg class="bi pe-none me-2" width="16" height="16">
                    </svg> --}}
                    Category
                </a>
            </li>
            <li>
                <a href="/admin/subCategory" class="nav-link text-white">
                    {{!-- <svg class="bi pe-none me-2" width="16" height="16">
                    </svg> --}}
                    SubCategory
                </a>
            </li>
            <li>
                <a href="/admin/product" class="nav-link active " aria-current="page">
                    {{!-- <svg class="bi pe-none me-2" width="16" height="16">
                    </svg> --}}
                    Product
                </a>
            </li>
        </ul>
    </div>

    <div class="col-10">
        <div class="m-2">
            <a href="/admin/addProduct"><button class="btn btn-success">Add:</button></a> </div>

            <table class="table table-dark">



                <tr>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>image</th>
                    <th></th>

                </tr>
                {{#each category}}
                <tr>
                    <td>{{this.categoryData.catName}}</td>
                    <td>{{this.subCatData.subCategory}}</td>
                    <td>{{this.prodName}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="/images/admin/product/{{this.image}}" alt="" height="100px" width="100px"></td>
                    <td><a href="/admin/product/edit/{{this._id}}"><button>Edit</button></a>
                        <a href="/admin/product/delete/{{this._id}}"><button>Delete</button></a>
                    </td>

                </tr>
                {{/each}}

            </table>
        </div>

        <div>

        </div>

    </div>