<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #b892ff;">
  <div class="container-fluid">
    <a class="navbar-brand pl-2 " href="#" style="color: blue;font-size:30px;font-weight:bolder">Shopsy </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
        </li>

        <li class="nav-item">
      </ul>



      <form class="d-flex">
        {{!-- <a class="nav-link  m-1" href="/order">profile<sup style="color: rgb(42, 5, 223);font-size:15px">
            {{ sessions .name}}</sup>
        </a> --}}



        {{#if session.logs}}

        <a class="nav-link  m-1" href="/cart">cart<sup style="color: rgb(42, 5, 223);font-size:15px">
            {{session.carts.length}}</sup>
        </a>
        <a class="nav-link  m-1" href="/orderView">order<sup style="color: rgb(42, 5, 223);font-size:15px">
            {{ session.orders.length}}</sup>
        </a>

        <a class="nav-link  m-1" id="" href="/logout">Logout<sup style="color: rgb(42, 5, 223);font-size:15px">
            {{ session.logs.name}}</sup></a>
        {{else}}


        <a class="nav-link  m-1" href="/register">Register</a>
        <a class="nav-link  m-1" id="login" href="/login">Login</a>

        {{/if}}

      </form>



    </div>
  </div>
</nav>