{{!-- <div style="background-color: blueviolet;"> --}}
    <section style="background-color: #b87070;min-height:430px ">
        <div class="container ">
            <div class="row justify-content-center">
                <h2 class="text-center">{{category.catName}}</h2>
                {{#each products}}
                <div class="col-3">
                    <a href="/singleProduct/{{this._id}}" class="" style="text-decoration: none;color:black">

                        <div class="card m-2" style="border-radius: 15px;">
                            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                                data-mdb-ripple-color="light">
                                <img src="/images/admin/product/{{this.image}}"
                                    style="border-top-left-radius: 15px; border-top-right-radius: 15px;height:200px;width:250px"
                                    class="img-fluid" {{!-- style="height:200px;width:250px" --}} class="img-fluid"
                                    alt="Laptop" />
                                <a href="#!">
                                    {{!-- <div class="mask"></div> --}}
                                </a>
                            </div>
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p><a href="#!" class="text-dark">{{this.prodName}}</a></p>
                                        {{!-- <p class="text-truncate mb-4 mb-md-0"> --}}

                                        <p class="small text-muted   ">{{this.catlookupDatas.catName}}</p>

                                        <p class="small text-muted   ">{{this.sublookupDatas.subCategory}}</p>
                                    </div>
                                    <div>
                                        <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p class="small text-muted">Rated 4.0/5</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <p><a href="#!" class="text-dark">Rs.{{this.price}}</a></p>
                                    <p class="text-dark">#### 8787</p>
                                </div>
                                {{!-- <p class="small text-muted">VISA Platinum</p> --}}
                            </div>
                            <hr class="my-0" />
                            {{!-- <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                                    <a href="#!" class="text-dark fw-bold">Cancel</a>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-primary">Buy now</button>
                                </div>
                            </div> --}}
                        </div>
                    </a>
                </div>

                {{/each}}
            </div>
        </div>
    </section>
    {{!--
</div> --}}